extends layouts/main

block content
    form( action="/create", method='post' )
        input(type='text', placeholder='Title', name='title', required=true)
        input(type='number', min="1900", max="2019" , placeholder='Year', name='year', required=true)
        input(type='text', placeholder='Rating', name='rating', required=true)
        textarea(name="synopsis", cols="30", rows="5", required=true, placeholder='Synopsis')
        input(type='text', placeholder='Genres', name='genres', required=true)
        input(type='submit', value="Submit")